#!/bin/bash

DATE=$(date +%Y-%m-%d-%H-%M)
DATA_DIR={{ data_dir }}
BACKUP_DIR_NAME=near_${DATE}
WORKDIR=/opt/near
BACKUP_DIR_PATH={{ backup_data_dir }}

cd $WORKDIR

# sudo systemctl stop neard.service

wait

echo "NEAR node was stopped" | ts

if [ -d "$BACKUP_DIR_PATH" ]; then
    echo "Backup started" | ts
    tar -zcvf $BACKUP_DIR_PATH/$BACKUP_DIR_NAME.tar.gz -C $DATA_DIR .
    
    echo "Sending ping to healthchecks" | ts
    curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/{{ healthchecks_token }} | ts
   
    echo "Archive created" | ts
     
    echo "Removing old archives" | ts
    cd {{ backup_data_dir }} && rm -rf `ls -t | awk 'NR>1'` | ts
    echo " Cleaning completed" | ts

else
    echo "$BACKUP_DIR_PATH is not exist. Check your permissions."
    exit 0
fi

# sudo systemctl start neard.service

echo "NEAR node was started" | ts
echo "Backup completed successfully!" | ts
