#!/bin/bash

DATE=$(date +%Y-%m-%d-%H-%M)
DATADIR={{ data_dir }}
BACKUP_DIR_NAME=near_${DATE}
WORKDIR=/opt/near
BACKUP_DIR_PATH={{ backup_data_dir }}/${BACKUP_DIR_NAME}

cd $WORKDIR

mkdir $BACKUP_DIR_PATH

# sudo systemctl stop near-main.service

wait

echo "NEAR node was stopped" | ts

if [ -d "$BACKUP_DIR_PATH" ]; then
    echo "Backup started" | ts
    tar -zcvf $BACKUP_DIR_PATH.tar.gz -C $DATADIR .
    
    echo "Sending ping to healthchecks" | ts
    curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/{{ healthchecks_token }} | ts
   
    echo "Archive created" | ts
     
    echo "Removing old archives" | ts
    cd {{ backup_data_dir }} && rm -rf `ls -t | awk 'NR>1'` | ts
    echo " Cleaning completed" | ts

else
    echo "$BACKUP_DIR_PATH is not exist. Check your permissions."
    exit 0
fi

# sudo systemctl start near-main.service

echo "NEAR node was started" | ts
echo "Backup completed successfully!" | ts
