#!/bin/bash

DATA_DIR={{ data_dir }}/data
BACKUP_DIR={{ backup_data_dir }}

echo "Starting data recovery process" | ts

FILE_NAME=`cd $BACKUP_DIR && ls -At | head -1`

if [ "$(ls -A $DATA_DIR)" ]; then

     echo "$DATA_DIR isn't empty. Start cleaning this directory" | ts
     rm -rf $DATA_DIR/*
     
fi
    echo "$DATA_DIR is Empty" | ts
    echo "Start data extraction" | ts
    tar -xvf $BACKUP_DIR/$FILE_NAME -C $DATA_DIR
    echo "Restore completed successfully!" | ts
