---
- name: Configure shardnet
  hosts: validator-shardnet-dev
  become: yes 
  pre_tasks:
    - include_vars:
        dir: env/dev/group_vars/all
  tasks:
    - name: Setup shardnet 
      include_role:
        name: shardnet
