---
- name: Volume setup
  import_tasks: volume-setup.yml
  tags:
    - volume-setup

- name: Node setup
  import_tasks: near-setup.yml
  tags:
    - near-setup

- name: Node ping
  import_tasks: near-ping.yml
  tags:
    - near-ping

- name: Node contract
  import_tasks: near-contract.yml
  tags:
    - near-contract

- name: Create backup node
  import_tasks: near-setup-backup.yml
  tags:
    - near-setup-backup
