---
- name: Volume setup
  import_tasks: volume-setup.yml
  tags:
    - volume-setup

- name: Node setup
  import_tasks: near-setup.yml
  tags:
    - near-setup

- name: Node ping
  import_tasks: near-ping.yml
  tags:
    - near-ping

- name: Node contract
  import_tasks: near-contract.yml
  tags:
    - near-contract

- name: Create backup node
  import_tasks: near-setup-backup.yml
  vars:
    node_id: "{{ node_backup_account_id }}"
    node_public: "{{ node_backup_public_key }}"
    node_secret: "{{ node_backup_secret_key }}"
    validator_id: "{{ validator_backup_account_id }}"
    validator_public: "{{ validator_backup_public_key }}"
    validator_secret: "{{ validator_backup_secret_key }}"
    config_key: "{{ node_backup_public_key }}"
  tags:
    - near-setup-backup
