- name: Install packages
  apt:
    update_cache: true
    name:
      - python3
      - git
      - curl
      - clang
      - build-essential
      - make

- name: Setup rust
  import_role:
    name: hurricanehrndz.rustup
  vars:
    rustup_cargo_crates: ''

- name: Setup node.js 18
  import_role:
    name: geerlingguy.nodejs
  vars:
    nodejs_version: "18.x"

- name: Install near-cli
  npm:
    name: near-cli
    global: yes

- name: Add blockchain network to bashrc
  lineinfile:
    path: /root/.bashrc
    line: "export NEAR_ENV={{ NEAR_ENV }}"

- name: Create directory for data
  file:
    path: /opt/near/data
    state: directory
    mode: 0644

- name: Create blockchain data symlink
  file:
    src: /opt/near/data
    path: "{{ blockchain_data_dir }}"
    state: link
    force: true

- name: Fetch a github repository
  git:
    repo: 'https://github.com/nearprotocol/nearcore.git'
    dest: /opt/near/nearcore
    version: "{{ version_tag }}"
    force: true
  register: git

- name: Install/Upgrade nearcore
  block:

    - name: Execute cargo build --release
      shell: "{{ item }}"
      with_items:
        - export PATH="$HOME/.cargo/bin:$PATH" && cargo build -p neard --release --features shardnet
      args:
        chdir: /opt/near/nearcore/
      register: build

    # - name: Initialize nearcore
    #   shell: "{{ item }}"
    #   with_items:
    #     - ./target/release/neard --home ~/.near init --chain-id shardnet --download-genesis
    #   args:
    #     chdir: /opt/near/nearcore/
    #   register: init

    - name: Check near version
      command: /opt/near/nearcore/target/release/neard --version
      register: version

    - debug: var=version.stdout_lines

    # - name: Download config
    #   get_url: 
    #     url: "{{ config_url }}"
    #     dest: "{{ blockchain_data_dir }}/config.json"
    #     force: yes

    # - name: Extract neard binaries into /usr/bin
    #   copy:
    #     src: /opt/near/nearcore/target/release/neard
    #     dest: /usr/bin
    #     mode: 0777
    #     remote_src: true

  when: git.changed
  # notify: restart neard service

- name: Copy node and validator keys in blockchain data directory
  template:
    src: "{{ item.key_src }}"
    dest: "{{ item.key_dest }}"
    mode: 0777
  with_items:
    - { key_src: node_key.j2, key_dest: /root/.near/node_key.json }
    - { key_src: validator_key.j2, key_dest: /root/.near/validator_key.json }
  vars:
    node_id: "{{ node_account_id }}"
    node_public: "{{ node_public_key }}"
    node_secret: "{{ node_secret_key }}"
    validator_id: "{{ validator_account_id }}"
    validator_public: "{{ validator_public_key }}"
    validator_secret: "{{ validator_secret_key }}"
  notify: restart neard service

- name: Copy configuration template
  template:
    src: neard.j2
    dest: /etc/systemd/system/neard.service
  notify: reload neard config
