---
- name: Create backup directory if not exist
  file:
    path: "{{ backup_dir }}"
    state: directory
    mode: 0755

- name: Create directory for validator keys
  file:
    path: "{{ backup_dir }}/validator/keys"
    state: directory
    mode: 0755

- name: Save validator keys
  copy:
    src: /root/.near/{{ item }}
    dest: "{{ backup_dir }}/validator/keys/{{ item }}"
    mode: 0755
    remote_src: yes
  with_items:
    ["node_key.json","validator_key.json"]

- name: Fetch a github repository
  git:
    repo: 'https://github.com/nearprotocol/nearcore.git'
    dest: "{{ backup_dir }}/repository"
    version: "{{ version_tag }}"
    force: true
  register: git_backup

- name: Install/Upgrade nearcore
  block:

    - name: Execute cargo build --release
      shell: "{{ item }}"
      with_items:
        - export PATH="$HOME/.cargo/bin:$PATH" && make shardnet-release
      args:
        chdir: "{{ backup_dir }}/repository"

    - name: Initialize nearcore
      shell: "{{ item }}"
      with_items:
        - ./target/release/neard --home {{ backup_dir }} init --chain-id shardnet --download-genesis
      args:
        chdir: "{{ backup_dir }}/repository"
      register: init

    - name: Check near version
      command: "{{ backup_dir }}/repository/target/release/neard --version"
      register: version

    - debug: var=version.stdout_lines

    # - name: Download config
    #   get_url: 
    #     url: "{{ config_url }}"
    #     dest: "{{ blockchain_data_dir }}/config.json"
    #     force: yes

    - name: Extract neard binaries into /usr/bin
      copy:
        src: "{{ backup_dir }}/repository/target/release/neard"
        dest: /usr/bin/neard_backup
        mode: 0755
        remote_src: true

  when: git_backup.changed

- name: Create temporary files
  template:
    src: "{{ item.file_src }}"
    dest: "{{ item.file_dest }}"
    mode: 0755
  with_items:
    - { key_src: node_key.j2, key_dest: "{{ backup_dir }}/node_key.json" }
    - { key_src: validator_key.j2, key_dest: "{{ backup_dir }}/validator_key.json" }
    - { key_src: config.j2, key_dest: "{{ backup_dir }}/config.json" }
  vars:
    node_id: "{{ node_backup_account_id }}"
    node_public: "{{ node_backup_public_key }}"
    node_secret: "{{ node_backup_secret_key }}"
    validator_id: "{{ validator_backup_account_id }}"
    validator_public: "{{ validator_backup_public_key }}"
    validator_secret: "{{ validator_backup_secret_key }}"
